.home-view {
    animation: entry-animation 0.9s ease-in-out;
}

@keyframes entry-animation {
    0% {
        position: relative;
        top: 32px;
        opacity: 0;
    }

    100% {
        position: relative;
        top: 0px;
        opacity: 1;
    }
}
